*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-primary-light);
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
