@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

@import './components/buttons';
@import './components/carousel';
@import './components/chefs-section';
@import './components/contact-section';
@import './components/footer';
@import './components/formats-section';
@import './components/header';
@import './components/hero-section';
@import './components/links';
@import './components/modal';
@import './components/traditions-section';

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24;
}

/*advantages section*/

.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-style: Black;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 0%;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-dark);
}

/*Form*/

.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
}

.form-input {
  padding: 16px 42px;
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent;
}

.form-input:focus {
  border: 1px solid var(--color-brand-normal);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-field {
  margin-bottom: 32px;
}

.form-button {
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 210px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
