.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
  fill: var(--color-primary-dark);
  flex-shrink: 0;

  &:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
  }

  &.next {
    transform: rotate(180deg);
  }
}
