.traditions-text.limited {
  max-width: 330px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
  font-style: SemiBold;
  letter-spacing: 0%;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}
