.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }

    &::before,
    &::after {
      display: none;
      position: absolute;
      bottom: 24px;
      content: '';
      border: 2px solid var(--color-brand-light);
      width: 352px;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px 30px;
      flex-direction: row;
      justify-content: center;
    }

    &__item {
      @media screen and (min-width: $bp-tablet) {
        flex-basis: calc((100% - 30px) / 2);
      }
    }
  }
}
