.formats-section {
  &__title {
    margin-bottom: 80px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }

  &__item {
    flex-basis: calc((100% - 40px) / 3);
    position: relative;
  }
}
