.section {
  padding: 48px 0;

  &__title {
    color: var(--color-primary-dark);
    font-weight: 900;
    font-style: Black;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 0%;
    &--centered {
      text-align: center;
    }
  }
}
